html {
	font-family: 'Helvetica', Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
body,

button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0.1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

body {
  margin: 0 auto;
}



body {
}

.main-header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  padding: 0 5em;
  color: #2e71f2;
  z-index: 2;
  border-bottom: 1px solid rgb(222, 226, 230);
}

.main-header .text-title {
  margin: 0;
  padding: 0.5em 0;
  letter-spacing: -0.7px;
  font-weight: 400;
  font-size: x-large;
}

.main-header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul li {
  text-decoration: none;
  list-style: none;
}

main {
  margin: 0 auto;
  margin-top: 4em;
  display: grid;
  /* grid-column: 2 / span 4; */
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: 10vw 30vw 10vw; */
  grid-gap: 5px;
  max-width: calc(100% - 5em);
} 

main > .main-content {
  grid-column: 1 / span 8;
}

.main-content .image-manipulations{
  display: flex;
  flex-wrap: wrap;
}

.image-card {
  width: 30%;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 1em;
}

.base-image {
  margin: 0 auto;
  margin-bottom: 2em;
}

.image-card h1 {
  font-size: larger;
  letter-spacing: -0.8px;
  padding: 10px 0 10px 10px;
  font-weight: 400;
}

.image-container {
}

.image-container  img {
  width: 100%;
}

main > .sidebar {
  grid-column: 9/ span 2;
  padding: 0.5em 0.2em;
  background-color: #f8f8f8;
}

.sidebar h2 {

}

.sidebar .side-nav {
  list-style-type:none;
  font-size: smaller;
  padding-left: 0.1em;
}

.text-container {
  padding: 5px 15px;
}

.text-container h3{
  letter-spacing: -0.7px;
  font-weight: 400;
}

.text-container p {
  font-size: smaller;
  text-align: justify;
}

footer {
  margin-bottom: 0;
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  
  display: flex;
  justify-content: flex-end;  
}

footer p {
  padding: 1em 1.25rem;
}
